*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#000,#333);
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}
.card{
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
     transition: 2s;
    box-shadow: 10px 0 30px #fff,-10px 0 30px #fff;
    -webkit-box-reflect: below 50px linear-gradient(rgba(0,0,0,.2),rgba(255,255,255,.01));
}
.card .circle{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #333;
    overflow: hidden;
   
}
.card .circle::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    right:8px;
    bottom: 8px;
    box-shadow: 20px 0 30px rgba(255, 0, 0, 0.79);
    z-index: 1000;
    pointer-events: none;
}
.circle .img_box{
    width: 100%;
    height: 75%;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
}
.circle .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: top;
    transition: .5s;
}
.circle .img_box:hover img
{
    transform: scale(1.4);
}
.details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    
    padding: 30px;
}
.details .fa-linkedin{
    background-color: blue;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 4px;
}
.details h3{
    font-size: 1.4rem;
    color: #333;
    margin: 5px 0;
    font-family: 'poppins',sans-serif;
}
.details .lower_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
/*    pointer-events: none;*/
}
.details .lower_part p{
    color: red;
    font-family: 'poppins',sans-serif;
}
.details .lower_part .fa-arrow-right{
    color: red;
    cursor: pointer;
    transition: .5s;
}
.card:hover{
    transform: rotateY(360deg);
}